/* Add Feedback
--------------------------------------------------------------*/
.add-feedback {
    display: flex;
    align-items: center;
    min-height: 15rem;

    .add-feedback-text {
       display: flex;
       justify-content: center;

        .add-feedback-title {
            font-size: 2rem;
            font-weight: bold;
        }

        .no-outline:focus {
          outline: 0 !important;
        }

        .add-feedback-button {
            display: flex;
            align-items: center;
            padding-top: 1rem;
            text-transform: uppercase;
            cursor: pointer;


            ion-button {
                --border-radius: 100%;
                --padding-start: 0.5rem;
                --padding-end: 0.5rem;
                padding-right: 1rem;
            }   
        }    
    }
    .add-feedback-image {
        display: flex;
        justify-content: center;
        ion-img {
            max-width: 25rem;
        }
    }
}
ion-title {
  padding-inline: 0;
  font-size: 1.7rem;
  padding: 2rem 0;
  padding-left: 1rem;
}
/* Feedbacks table
--------------------------------------------------------------*/
.past-feedbacks {
  margin-bottom: 2rem;
}

/* Feedback Cards
--------------------------------------------------------------*/
.feedback-cards {
  display: flex;
  justify-content: center;

  ion-card {
    border-radius: 1rem;
    text-align: center;

    ion-card-title {
      font-size: 3rem;
    }
  }
}