.centeredPage {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .cardTitle {
    text-align: center;
    font-weight: bold;
    padding-top: 1.5cm;
  }

  .card{
    height: 450px;
    width: 600px;
}

.LogoImage{
    height: 100px;
    max-width: 90%;
    margin: 0 auto;
}


.label{
   height: 50px; 
}

.input{
  margin-bottom: 0.5cm;
}

.text{
  padding-left: 0.2cm;
}

.button{
    margin: 80px 0 20px 0;
}

// Corrección de color para mobile
ion-item, ion-input {
  --background: none;
}

.custom-bold {
  font-weight: 900;
}