ion-toolbar {
    --background: none;
}
.container {
    max-width: 48rem;
    padding: 0 0.5rem;

    .column-container {
        display: flex;
        align-items: center;
        padding-top: 0.5rem;

        ion-icon {
            padding-right: 1rem;
            font-size: 1.3rem;
        }
    }       
}