<ion-header>
  <ion-toolbar>
    <ion-title>Forgot Your Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="centeredPage">
        <ion-card class="card">
          <ion-card-header class="ion-text-center">
            <ion-card-title class="cardTitle">Forgot your password?</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <form>
              <ion-item class= "input">
                <ion-label class="label" position="floating">Username</ion-label>
                <ion-input type="email" required></ion-input>
              </ion-item>

              <ion-label class="text">
                Please provide us your username or email address.
              </ion-label>

              <ion-row>
                <ion-col>
                  <ion-button routerLink="/login" class="button custom-bold" type="submit" expand="block" color="amdocs-salmon">Send</ion-button>
                </ion-col>
              </ion-row>

            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
